body {
  margin: auto;
  width: 90%;
}
@media (max-width: 425px) {
  body {
    width: 100%;
  }
}

#mainAllTeddies {
  width: 90%;
  margin: auto;
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.mainCommand {
  width: 40%;
  margin: auto;
}
@media (max-width: 425px) {
  .mainCommand {
    width: 80%;
  }
}

.MainProduct {
  width: 55%;
  margin: auto;
  margin-top: 50px;
}

header {
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: 0px 1px 4px;
}
header h1 {
  font-size: 45px;
  color: pink;
  padding: 25px;
  margin: 0;
}
@media (max-width: 425px) {
  header h1 {
    font-size: 25px;
  }
}

nav {
  position: absolute;
  right: 0px;
}
nav ul {
  display: flex;
  list-style-type: none;
  align-items: flex-end;
}
nav ul li {
  margin-right: 25px;
}
nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 20px;
}
nav ul li:hover {
  border-bottom: 1px solid pink;
}
nav ul li:hover a {
  color: pink;
}

.teddie {
  cursor: pointer;
  overflow: hidden;
  width: 30%;
  margin-bottom: 15px;
  box-shadow: 1px 1px 5px black;
  border-radius: 15px;
}
.teddie__image {
  width: 100%;
  height: 300px;
}
@media (max-width: 425px) {
  .teddie__image {
    height: 200px;
  }
}
@media (max-width: 768px) {
  .teddie__image {
    height: 150px;
  }
}
.teddie h3 {
  text-align: justify;
}
.teddie:hover {
  background-color: pink;
}
.teddie__text {
  margin: 15px;
}
@media (max-width: 1120px) {
  .teddie {
    width: 45%;
  }
}
@media (max-width: 425px) {
  .teddie {
    width: 100%;
  }
}

.pannier {
  margin-top: 25px;
}
.pannier__teddies {
  border: 1px solid black;
  display: flex;
  width: 80%;
  margin: auto;
}
.pannier__teddies__text {
  position: relative;
  display: flex;
  align-items: flex-start;
  padding: 15px;
  border: 1px solid black;
  width: 100%;
}
@media (max-width: 425px) {
  .pannier__teddies__text {
    flex-direction: column;
  }
}
.pannier__teddies__text div {
  width: 80%;
}
@media (max-width: 425px) {
  .pannier__teddies__text div {
    width: 100%;
    height: 100px;
    overflow: hidden;
  }
}
.pannier__teddies__text h2 {
  margin: 0;
  margin-bottom: 25px;
}
@media (max-width: 425px) {
  .pannier__teddies__text h2 {
    font-size: 16px;
  }
}
.pannier__teddies__text h3 {
  margin: 0;
}
@media (max-width: 425px) {
  .pannier__teddies__text h3 {
    font-size: 13px;
  }
}
.pannier__teddies__text__price {
  position: absolute;
  right: 15px;
}
@media (max-width: 425px) {
  .pannier__teddies__text__price {
    position: relative;
    margin: 15px;
  }
}

.btn {
  display: block;
  border-radius: 45px;
  background-color: #ff5571;
  color: white;
  font-weight: bold;
  width: max-content;
  margin: auto;
  margin-top: 25px;
  padding: 15px;
  border: none;
  text-decoration: none;
  margin-bottom: 25px;
  cursor: pointer;
}
.btn:hover {
  background-color: #6576d4;
}

.PannierResult {
  border: 1px solid black;
  width: 90%;
  height: 300px;
}

.teddieSolo {
  overflow: hidden;
  border-radius: 25px;
}
.teddieSolo img {
  width: 100%;
}
.teddieSolo__text {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  margin-bottom: 25px;
}
.teddieSolo__text div {
  width: 85%;
  margin-left: 25px;
}
.teddieSolo__text__price {
  position: absolute;
  right: 25px;
}

/*# sourceMappingURL=style.css.map */
