body {
  margin: auto;
  width: 90%;
}
@media (max-width: 425px) {
  body {
    width: 100%;
  }
}

#mainAllTeddies {
  width: 90%;
  margin: auto;
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.mainCommand {
  width: 40%;
  margin: auto;
}
@media (max-width: 425px) {
  .mainCommand {
    width: 80%;
  }
}

.MainProduct {
  width: 55%;
  margin: auto;
  margin-top: 50px;
}

header {
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: 0px 1px 4px;
}
header h1 {
  font-size: 45px;
  color: pink;
  padding: 25px;
  margin: 0;
}
@media (max-width: 425px) {
  header h1 {
    font-size: 25px;
  }
}

nav {
  position: absolute;
  right: 0px;
}
nav ul {
  display: flex;
  list-style-type: none;
  align-items: flex-end;
}
nav ul li {
  margin-right: 25px;
}
nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 20px;
}
nav ul li:hover {
  border-bottom: 1px solid pink;
}
nav ul li:hover a {
  color: pink;
}

.teddie {
  cursor: pointer;
  overflow: hidden;
  width: 30%;
  margin-bottom: 15px;
  box-shadow: 1px 1px 5px black;
  border-radius: 15px;
}
.teddie__image {
  width: 100%;
  height: 300px;
}
@media (max-width: 425px) {
  .teddie__image {
    height: 200px;
  }
}
@media (max-width: 768px) {
  .teddie__image {
    height: 150px;
  }
}
.teddie h3 {
  text-align: justify;
}
.teddie:hover {
  background-color: pink;
}
.teddie__text {
  margin: 15px;
}
@media (max-width: 1120px) {
  .teddie {
    width: 45%;
  }
}
@media (max-width: 425px) {
  .teddie {
    width: 100%;
  }
}

.pannier {
  margin-top: 25px;
}
.pannier__teddies {
  position: relative;
  border: 1px solid black;
  border-top: 0.5px solid black;
  border-bottom: 0.5px solid black;
  display: flex;
  width: 80%;
  margin: auto;
}
.pannier__teddies__image {
  width: 200px;
}
.pannier__teddies__btnDel {
  position: absolute;
  cursor: pointer;
  top: 55px;
  right: 25px;
}
.pannier__teddies__text {
  position: relative;
  display: flex;
  align-items: flex-start;
  padding: 15px;
  width: 100%;
}
@media (max-width: 425px) {
  .pannier__teddies__text {
    flex-direction: column;
  }
}
.pannier__teddies__text div {
  width: 100%;
}
@media (max-width: 425px) {
  .pannier__teddies__text div {
    width: 100%;
    height: 100px;
    overflow: hidden;
  }
}
.pannier__teddies__text h2 {
  margin: 0;
  margin-bottom: 25px;
}
@media (max-width: 425px) {
  .pannier__teddies__text h2 {
    font-size: 16px;
  }
}
.pannier__teddies__text h3 {
  margin: 0;
}
@media (max-width: 425px) {
  .pannier__teddies__text h3 {
    font-size: 13px;
  }
}
.pannier__teddies__text__price {
  position: absolute;
  right: 25px;
}
@media (max-width: 425px) {
  .pannier__teddies__text__price {
    position: relative;
    margin: 15px;
  }
}

.btn {
  display: block;
  border-radius: 45px;
  background-color: #ff5571;
  color: white;
  font-weight: bold;
  width: max-content;
  margin: auto;
  margin-top: 25px;
  padding: 15px;
  border: none;
  text-decoration: none;
  margin-bottom: 25px;
  cursor: pointer;
}
.btn:hover {
  background-color: #6576d4;
}

input {
  border: 1px solid black;
  font-weight: bold;
  border-radius: 15px;
  width: 90%;
  padding: 5px;
}
input:focus {
  background-color: #e1ece1;
}
input:not(focus):invalid {
  background-color: red;
  color: white;
}
input:not(focus):valid {
  background-color: #56ff56;
  color: white;
}

.PannierResult {
  border: 1px solid black;
  width: 95%;
  height: 300px;
  overflow: scroll;
}
.PannierResult__teddies {
  position: relative;
  display: flex;
  border-bottom: 1px solid black;
  padding: 0 15px;
}
.PannierResult__teddies__text {
  width: 75%;
}
.PannierResult__teddies__price {
  position: absolute;
  right: 15px;
}

.teddieSolo {
  overflow: hidden;
  border-radius: 25px;
}
.teddieSolo img {
  width: 100%;
}
.teddieSolo__text {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  margin-bottom: 25px;
}
.teddieSolo__text div {
  width: 85%;
  margin-left: 25px;
}
.teddieSolo__text__price {
  position: absolute;
  right: 25px;
}

@keyframes bars-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.container-loading {
  z-index: 1;
  position: absolute;
  /* display:flex; */
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  background-color: #ffc6d0;
  width: 300px;
  height: 300px;
  margin: 25px;
  border: 1px solid black;
  border-radius: 35px;
}
.container-loading__spinner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
.container-loading__spinner__bar {
  position: absolute;
  width: 45px;
  height: 10px;
  margin: 10px;
  background-color: white;
  transform-origin: -10px 5px;
  animation: bars-spinner 1s infinite ease-in-out alternate;
  position: absolute;
  width: 45px;
  height: 10px;
  margin: 10px;
  background-color: white;
  transform-origin: -10px 5px;
  animation: bars-spinner 1s infinite ease-in-out alternate;
  position: absolute;
  width: 45px;
  height: 10px;
  margin: 10px;
  background-color: white;
  transform-origin: -10px 5px;
  animation: bars-spinner 1s infinite ease-in-out alternate;
  position: absolute;
  width: 45px;
  height: 10px;
  margin: 10px;
  background-color: white;
  transform-origin: -10px 5px;
  animation: bars-spinner 1s infinite ease-in-out alternate;
  position: absolute;
  width: 45px;
  height: 10px;
  margin: 10px;
  background-color: white;
  transform-origin: -10px 5px;
  animation: bars-spinner 1s infinite ease-in-out alternate;
  position: absolute;
  width: 45px;
  height: 10px;
  margin: 10px;
  background-color: white;
  transform-origin: -10px 5px;
  animation: bars-spinner 1s infinite ease-in-out alternate;
  position: absolute;
  width: 45px;
  height: 10px;
  margin: 10px;
  background-color: white;
  transform-origin: -10px 5px;
  animation: bars-spinner 1s infinite ease-in-out alternate;
  position: absolute;
  width: 45px;
  height: 10px;
  margin: 10px;
  background-color: white;
  transform-origin: -10px 5px;
  animation: bars-spinner 1s infinite ease-in-out alternate;
}
.container-loading__spinner__bar--0 {
  transform: rotate(0deg) scaleX(1);
  animation-delay: 0ms;
}
.container-loading__spinner__bar--1 {
  transform: rotate(45deg) scaleX(1);
  animation-delay: 200ms;
}
.container-loading__spinner__bar--2 {
  transform: rotate(90deg) scaleX(1);
  animation-delay: 400ms;
}
.container-loading__spinner__bar--3 {
  transform: rotate(135deg) scaleX(1);
  animation-delay: 600ms;
}
.container-loading__spinner__bar--4 {
  transform: rotate(180deg) scaleX(1);
  animation-delay: 800ms;
}
.container-loading__spinner__bar--5 {
  transform: rotate(225deg) scaleX(1);
  animation-delay: 1000ms;
}
.container-loading__spinner__bar--6 {
  transform: rotate(270deg) scaleX(1);
  animation-delay: 1200ms;
}
.container-loading__spinner__bar--7 {
  transform: rotate(315deg) scaleX(1);
  animation-delay: 1400ms;
}
.container-loading img {
  width: 100%;
}
.container-loading h2 {
  margin-top: 95px;
  text-align: center;
  width: 90%;
}

.main-orderResult {
  width: 80%;
  padding: 25px;
  margin: auto;
  margin-top: 25px;
  border: 2px dashed pink;
  border-radius: 15px;
}

article {
  width: 60%;
}

section {
  display: flex;
}
@media (max-width: 375px) {
  section {
    flex-direction: column;
  }
}

#first-name {
  text-transform: capitalize;
}

#last-name {
  text-transform: capitalize;
}

#city {
  text-transform: capitalize;
}

/*# sourceMappingURL=style.css.map */
