input
{
    border:1px solid black;
    font-weight: bold;
    border-radius:15px;
    width:90%; 
    padding:5px;

    &:focus
    {
        background-color: rgb(225, 236, 225);
    }
    
    &:not(focus):invalid
    {
        background-color: red;
        color:white;
    }
    &:not(focus):valid
    {
        background-color: rgb(86, 255, 86);
        color:white;
    }
}


.PannierResult
{
    border:1px solid black;
    width:95%;
    height:300px;
    overflow:scroll;

   

    &__teddies
    {
        position:relative;
        display:flex;
        border-bottom:1px solid black;
        padding: 0 15px;

        &__text
        {
            width:75%;
        }

        &__price
        {
            position:absolute;
            right:15px;
        }
    }
}

