.PannierResult
{
    border:1px solid black;
    width:95%;
    height:300px;
    overflow:scroll;


    &__teddies
    {
        position:relative;
        display:flex;
        border-bottom:1px solid black;
        padding: 0 15px;

        &__text
        {
            width:75%;
        }

        &__price
        {
            position:absolute;
            right:15px;
        }
    }
}

