.pannier
{
    margin-top:25px;
    &__teddies
    {

        border:1px solid black;
        border-top:0.5px solid black;
        border-bottom:0.5px solid black;
        display:flex;

        cursor:pointer;

        width:80%;
        margin:auto;
        &__image
        {
            width:200px;
        }

        &__text
        {
            position:relative;

            display:flex;
            align-items: flex-start;

            padding:15px;

            width:100%;
            
            
            @media (max-width:425px) {
                flex-direction: column;

            }

            div
            {
                width:80%;
                @media (max-width:425px) {
                    width:100%;
                    height:100px;
                    overflow:hidden;
                }
                
            }

            h2
            {
                margin:0;
                margin-bottom:25px;
                @media (max-width:425px) {
                    font-size:16px;
                }
            }

            h3
            {
                margin:0;
                @media (max-width:425px) {
                    font-size:13px;
                }
            }

            &__price
            {
                position:absolute;
                right:15px;
                @media (max-width:425px)
                {
                    position: relative;
                    margin:15px;
                }
            }

        }
    }
}

.btn
{
    display:block;
    border-radius:45px;

    background-color: rgb(255, 85, 113);
    
    color:white;

    font-weight: bold;

    width:max-content;

    margin:auto;
    margin-top:25px;
    padding:15px;

    border:none;

    text-decoration: none;

    margin-bottom:25px;

    cursor:pointer;

    &:hover
    {
        background-color: #6576d4;
    }
}