#mainAllTeddies
{
    width:90%;
    margin:auto;
    margin-top:25px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mainCommand
{
    width:40%;
    margin:auto;
    @media (max-width:425px) {
        width:80%;
    }
}

.MainProduct
{
    width:55%;
    margin:auto;
    margin-top:50px;
}